* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed !important;
    background-color: transparent;

    .container {
        min-height: 104px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tastyLogo {
            border: 2px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            padding-top: 5px;

            h2 {
                font-size: 20px;
                font-family: Muli, Arial, sans-serif;
                line-height: 20px;
                font-weight: 600;
                color: #fff;

            }
        }

        .tastyList {
            display: flex;
            align-items: center;
            justify-content: end;
            width: 80%;
            gap: 40px;

            a {
                text-decoration: none;

                p {
                    font-size: 16px;
                    font-family: Muli, Arial, sans-serif;
                    line-height: 29px;
                    font-weight: 300;
                    color: #fff;
                }
            }
        }
    }

    .dropdown {
        background-color: transparent !important;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        button {
            background-color: transparent !important;
            border: none;
            font-size: 25px;
        }
    }
}

@media screen and (max-width:800px) {
    header {
        .container {
            .tastyList {
                display: none;
            }

            .dropdown {
                display: block;

                .dropdown-menu {
                    padding-left: 15px;

                    a {
                        text-decoration: none;

                        p {
                            font-size: 16px;
                            font-family: Muli, Arial, sans-serif;
                            line-height: 29px;
                            font-weight: 300;
                            color: #222;
                        }
                    }
                }
            }
        }
    }
}

#ourSpecials {
    min-height: 700px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
    background-image: url(/assets/images/bg_2\ \(1\).jpg);

    .ourSpecialsTxt {
        min-height: 700px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        h1 {
            color: #fff;
            font-family: "Indie Flower", cursive;
            font-size: 72px;
            font-weight: 400;
            line-height: 86px;
            min-height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;

        }

        button {
            width: 15%;
            min-height: 60px;
            border: 2px solid #fff;
            background-color: transparent;
            font-size: 16px;
            font-family: Muli, Arial, sans-serif;
            line-height: 29px;
            font-weight: 300;
            color: #fff;
            transition: 0.4s ease;

            &:hover {
                background-color: #fff;
                color: #222;
            }
        }
    }
}
@media screen and (max-width:992px) {
    #ourSpecials{
        .ourSpecialsTxt{
            h1{
                font-size: 40px;
            }
            button{
                font-size: 10px;
            }
        }
    }
}
@media screen and (max-width:449px) {
    #ourSpecials{
        .ourSpecialsTxt{
            h1{
                font-size: 33px;
            }
            button{
                font-size: 7px;
            }
        }
    }
}
@media screen and (max-width:422px) {
    #ourSpecials{
        .ourSpecialsTxt{
            h1{
                font-size:25px;
            }
            button{
                font-size: 5px;
            }
        }
    }
}
#aboutTasty {
    min-height: 660px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .aboutImg {
        width: 100%;

        img {
            width: 100%;
        }
    }

    .aboutTastyTxt {
        min-height: 500px;
        width: 90%;
        display: flex;
        justify-content: center;
        flex-direction: column;

        span {
            color: #8b8b92;
            font-family: Muli, Arial, sans-serif;
            font-size: 16px;
            font-weight: 300;
        }

        h1 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 34px;
            font-weight: 300;
            min-height: 130px;
            display: flex;
            align-items: center;
        
        }

        p {
            color: #8b8b92;
            font-family: Muli, Arial, sans-serif;
            font-size: 16px;
            font-weight: 300;
            width: 90%;
        }
    }
}

@media screen and (max-width:992px) {
    #aboutTasty{
        .aboutTastyTxt{
            span{
                font-size: 10px;
            }
            h1{
                font-size: 20px;
            }
            p{
                font-size: 12px;
            }
        }
    }
}

#ourMenu {
    min-height: 900px;
    width: 100%;
    display: flex;
    justify-content: center;

    .ourMenuTxt {
        min-height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            color: #8b8b92;
            font-family: Muli, Arial, sans-serif;
            font-size: 14px;
            font-weight: 300;
        }

        h1 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 34px;
            font-weight: 300;
        }
    }

    #productsAll {
        min-height: 500px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .miniDiv {
            width: 32%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            img {
                width: 80%;
                border-radius: 15px;
            }

            h2 {
                color: #404044;
                font-family: Muli, Arial, sans-serif;
                font-size: 20px;
                font-weight: 600;
            }

            .wishAdd {
                width: 80%;
                display: flex;
                align-items: center;
                justify-content: space-between;

                button {
                    border: none;
                    background-color: transparent;
                    font-weight: 600;
                    font-size: 18px;
                    color: #FFB400;

                    i {
                        color: #FFB400;
                    }
                }
            }
        }
    }

    .loadMore {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;

        button {

            width: 15%;
            min-height: 60px;
            border: 2px solid #FFB400;
            background-color: transparent;
            font-size: 16px;
            font-family: Muli, Arial, sans-serif;
            line-height: 29px;
            font-weight: 600;
            color: #FFB400;
            transition: 0.4s ease;

            &:hover {
                background-color: #FFB400;
                color: #fff;
            }
        }

    }
}
@media screen and (max-width:991px) {
    #ourMenu{
        .ourMenuTxt{
           span{
            font-size: 10px;
           }
           h1{
            font-size: 20px;
           }
        }
        #productsAll{
            flex-wrap: wrap;
            width: 100%;
            .miniDiv{
                width: 80%;
            }
        }
    }
}
@media screen and (max-width:541px) {
    #ourMenu{
     .loadMore{
        #loadMore{
            font-size: 8px;
        }
     }
    }
    #ourSpecials .ourSpecialsTxt button{
        width: 50%;
        font-size: 1.35rem;
    }
    #ourMenu .loadMore button{
        font-size: 1.3rem;
    }
}

#guests {
    min-height: 530px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .guestsSay {
        min-height: 170px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        span {
            color: #8b8b92;
            font-family: Muli, Arial, sans-serif;
            font-size: 14px;
            font-weight: 300;
        }

        h1 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 34px;
            font-weight: 300;
        }
    }

    .dennisGreen {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }

        p {
            min-height: 120px;
            width: 85%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            color: #8b8b92;
            font-family: Muli, Arial, sans-serif;
            font-size: 16px;
            font-weight: 300;
        }

        .dennis {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 16px;
            font-weight: 500;
        }

        .italy {
            color: #8b8b92;
            font-family: Muli, Arial, sans-serif;
            font-size: 16px;
            font-weight: 500;
        }
    }
}
@media screen and (max-width:418px) {
    #guests{
        .guestsSay{
            span{
                font-size: 10px;
            }
            h1{
                font-size: 20px;
            }
        }
    }
}

#recentBlog {
    min-height: 940px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .recentBlogTxt {
        min-height: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        flex-direction: column;

        span {
            color: #8b8b92;
            font-family: Muli, Arial, sans-serif;
            font-size: 14px;
            font-weight: 300;
        }

        h1 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 34px;
            font-weight: 300;
        }
    }

    .allPowerful {
        width: 100%;
        display: flex;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-direction: column;

        img {

            width: 100%;

        }

        span {
            color: #8b8b92;
            font-family: Muli, Arial, sans-serif;
            font-size: 15px;
            font-weight: 300;
        }

        h2 {
            color: #222;
            font-family: Muli, Arial, sans-serif;
            font-size: 20px;
            font-weight: 700;
            transition: 0.4s ease;
            width: 85%;
            min-height: 90px;
            display: flex;
            align-items: center;
            justify-content: center;

            &:hover {
                color: #ffb400;
            }
        }

        .readMore {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;

            h6 {
                color: #404044;
                font-family: Muli, Arial, sans-serif;
                font-size: 14px;
                font-weight: 300;

            }

            p {
                color: #a5a5ab;
                font-family: Muli, Arial, sans-serif;
                font-size: 14px;
                font-weight: 300;
            }
        }
    }
}

footer {
    min-height: 760px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #27272B;
    justify-content: center;

    .tasty {
        width: 100%;

        h2 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }

        p {
            min-height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            color: rgba(255, 255, 255, 0.5);
            font-family: Muli, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;

        }

        .icons {
            display: flex;
            gap: 10px;

            i {
                width: 40px;
                font-size: 24px;

                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
                background-color: #323236;
            }
        }
    }

    .opening {
        width: 100%;

        h2 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }

        .week {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
            min-height: 280px;

            span {
                color: rgba(255, 255, 255, 0.5);
                font-family: Muli, Arial, sans-serif;
                font-size: 16px;
                font-weight: 400;

                span {
                    color: #fff;
                }

            }
        }

    }

    .contactCon {
        width: 100%;

        h2 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }

        .street {
            min-height: 270px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                color: rgba(255, 255, 255, 0.5);
                font-family: Muli, Arial, sans-serif;
                font-size: 16px;
                font-weight: 400;

            }
        }


    }

    .newsletter {
        width: 100%;

        h2 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }

        .newsletterTxt {
            min-height: 170px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            p {
                color: rgba(255, 255, 255, 0.5);
                font-family: Muli, Arial, sans-serif;
                font-size: 16px;
                font-weight: 400;

            }

            .subscribe {
                width: 100%;
                border: 1px solid #515155;
                min-height: 45px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                i {
                    color: #8b8b92;
                }

                input {
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }

    .copyright {
        min-height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        
            p {
                color: rgba(255, 255, 255, 0.5);
                font-family: Muli, Arial, sans-serif;
                font-size: 16px;
                font-weight: 400;

        
        }
    }
}
