* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    min-height: 70px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #222 !important;

    .container {
        min-height: 104px;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .tastyLogo {
            border: 2px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 70px;
            padding-top: 5px;

            h2 {
                font-size: 20px;
                font-family: Muli, Arial, sans-serif;
                line-height: 20px;
                font-weight: 600;
                color: #fff;

            }
        }

        .tastyList {
            display: flex;
            align-items: center;
            justify-content: end;
            width: 80%;
            gap: 40px;

            a {
                text-decoration: none;

                p {
                    font-size: 16px;
                    font-family: Muli, Arial, sans-serif;
                    line-height: 29px;
                    font-weight: 300;
                    color: #fff;
                }
            }
            .search{
                background-color: transparent;
                border: 1px solid #fff;
                border-radius: 15px;
                min-height: 35px;
                width: 25%;
                display: flex;
                align-items: center;
                justify-content: space-around;
                margin-bottom: 10px;
                input{
                    width: 80%;
                    background-color: transparent;
                    border: none;
                    color: #fff;
                }
                button{
                    border: none;
                    background-color: transparent;
                    color: #fff;
                }
            }
        }
    }

    .dropdown {
        background-color: transparent !important;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;

        button {
            background-color: transparent !important;
            border: none;
            font-size: 25px;
        }
    }
}

@media screen and (max-width:800px) {
    header {
        .container {
            .tastyList {
                display: none;
            }

            .dropdown {
                display: block;

                .dropdown-menu {
                    padding-left: 15px;

                    a {
                        text-decoration: none;

                        p {
                            font-size: 16px;
                            font-family: Muli, Arial, sans-serif;
                            line-height: 29px;
                            font-weight: 300;
                            color: #222;
                        }
                    }
                }
            }
        }
    }
}


footer {
    min-height: 760px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #27272B;
    justify-content: center;

    .tasty {
        width: 100%;

        h2 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }

        p {
            min-height: 150px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        p {
            color: rgba(255, 255, 255, 0.5);
            font-family: Muli, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;

        }

        .icons {
            display: flex;
            gap: 10px;

            i {
                width: 40px;
                font-size: 24px;

                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                color: #fff;
                background-color: #323236;
            }
        }
    }

    .opening {
        width: 100%;

        h2 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }

        .week {
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 8px;
            min-height: 280px;

            span {
                color: rgba(255, 255, 255, 0.5);
                font-family: Muli, Arial, sans-serif;
                font-size: 16px;
                font-weight: 400;

                span {
                    color: #fff;
                }

            }
        }

    }

    .contactCon {
        width: 100%;

        h2 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }

        .street {
            min-height: 270px;
            display: flex;
            justify-content: center;
            flex-direction: column;

            p {
                color: rgba(255, 255, 255, 0.5);
                font-family: Muli, Arial, sans-serif;
                font-size: 16px;
                font-weight: 400;

            }
        }


    }

    .newsletter {
        width: 100%;

        h2 {
            color: #404044;
            font-family: Muli, Arial, sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
        }

        .newsletterTxt {
            min-height: 170px;
            display: flex;
            justify-content: center;
            flex-direction: column;
            gap: 10px;

            p {
                color: rgba(255, 255, 255, 0.5);
                font-family: Muli, Arial, sans-serif;
                font-size: 16px;
                font-weight: 400;

            }

            .subscribe {
                width: 100%;
                border: 1px solid #515155;
                min-height: 45px;
                display: flex;
                align-items: center;
                justify-content: space-around;

                i {
                    color: #8b8b92;
                }

                input {
                    border: none;
                    background-color: transparent;
                }
            }
        }
    }

    .copyright {
        min-height: 200px;
        display: flex;
        align-items: flex-end;
        justify-content: center;


        p {
            color: rgba(255, 255, 255, 0.5);
            font-family: Muli, Arial, sans-serif;
            font-size: 16px;
            font-weight: 400;


        }
    }
}

main{
    #formContainer{
        min-height: 800px;
        display: flex;
        align-items: center;
        justify-content: center;
        #myForm{
            width: 80%;
            height: 500px;
            display: flex;
            border: 2px solid #222;
            border-radius: 15px;
            align-items: center;
            justify-content: center;
            padding-left: 30px;
            h2{
                display: flex;
                align-items: center;
                justify-content: center;
            }
        div{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 90%;
            input{
                width: 70%;
                border-radius: 0px;
                border: 2px solid #d1d1d6;
            }
            button{
                width: 13%;
                background-color: #222;
                border: none;
                border-radius: 0px;
                font-weight: 500;
            }
        }
        }
    }
}

#addContainer{
    width: 100%;
    min-height:600px;
    display: flex;
    align-items:center ;
    justify-content: center;
padding: 5px;    
    #addProducts {
        min-height:300px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;


        .miniDiv {
            width: 32%;
            display: flex;
            gap: 15px;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border: 2px solid #FFB400;
            
          
.nameItem{
    font-size: 14px;
}

            h2 {
                color: #404044;
                font-family: Muli, Arial, sans-serif;
                font-size: 20px;
                font-weight: 600;
            }

           
                button {
                    border: none;
                    background-color: transparent;
                    font-weight: 600;
                    font-size: 18px;
                    color: #FFB400;

                  
                }
            }
        }
    
    }
    .btn-group{
        display: flex;
        align-items: center;
        justify-content: center;
            button{
                background-color: #222;
                border: none;
                &:hover{
                    background-color: #FFB400;
                }
            }
        }
